{% extends 'blog/basic.html' %}
{% block css %}
image {
    opacity: 0.7;
  }
  rect {
    opacity: 0.7;
  }
  
  
  {% endblock %}
{% block body %}

<div class="container">
    <div class="row my-2">
    {% for i in blogposts%}
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{i.blog_type}}</strong>
                    <h3 class="mb-0">{{i.title}}</h3>
                    <div class="mb-1 text-muted">{{i.pub_date}}</div>
                    <p class="card-text mb-auto">{{i.chead0|slice:"0:50"}}..</p>
                    <a href="/blog/blogpost/{{i.post_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/media/{{i.thumbnail}}" title="{{i.author}}" class="bd-placeholder-img" width="200" >
                        
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %}
    </div><div class="row my-2">
        {% endif %}
        {% endfor %}
        
    </div>

</div>

{% endblock %}
